/tmp
/.vs
/*.pdb
/language/*.chw
/WapProjTemplate1/obj
/WapProjTemplate1/bin
/WapProjTemplate1/AppPackages
/*.ilk
/*.exe
/*.pgd
/*.pgc
/*.user
/*.ncb
/*.log
/*.chw
/WapProjTemplate1/preccalc
/WapProjTemplate1/BundleArtifacts
/source/*.aps
/*.opt
/source/*.ncb
/*.iobj
/*.ipdb
/source/*.opt
/WapProjTemplate1/*.cache
/WapProjTemplate1/*.pfx
/_freshen.bat
/buttons/test.cbt
