.vs/
bin/
obj/
/tmp/
/WapProjTemplate1/AppPackages
/WapProjTemplate1/BundleArtifacts
/WapProjTemplate1/preccalc
/WapProjTemplate1/screenshots
/WapProjTemplate1/*.cache
*.aps
*.chm
*.chw
/*.exe
/*.idb
/*.ilk
/*.iobj
/*.ipdb
*.log
/*.ncb
/*.opt
/*.pdb
*.pfx
/*.pgc
/*.pgd
/*.user
/_freshen.bat
/buttons/test.cbt
/source/mpir
/source/test.*
